USE_LOCAL_INFERENCE=true
MODEL_PATH=../ml_api/models/model.pkl
REGRESSION_MODEL_PATH=../ml_api/models/model_regression.pkl
LABEL_ENCODER_PATH=../ml_api/models/label_encoder.pkl
MODEL_METADATA_PATH=../ml_api/models/model_metadata.json
ML_API_BASE_URL=http://localhost:8001
ML_API_URL=http://localhost:8001/predict
ML_API_BATCH_URL=http://localhost:8001/predict_batch
ML_API_TIMEOUT=10
RATE_LIMIT=120/minute
PREDICT_RATE_LIMIT=60/minute
INTERVENTION_RATE_LIMIT=30/minute
ALERT_SCORE_THRESHOLD=70
